.infoCard-container {
    min-height: fit-content;
    max-height: fit-content;
    margin: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    overflow: auto;
}

.infoCard-entete {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}


.infoCard-detachable {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 20px;
    min-height: 20px;
    padding: 16px 18px;
    box-sizing: border-box;
    border-top: 1px solid #ccc ;
}

.infoCard-zone-derouler {
    border: 1px solid #a8ffff93 ;
    box-shadow: 0 2px 6px #43fff6bb;;
}

.infoCard-indication {
    display: flex;
    width: fit-content;
    height: 100%;
    font-size: 20px;
    align-self: center;
    justify-content: center
}

.infoCard-left-zone {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.infoCard-left-title {
    font-size: 16px;
    color: var(--color-text);
}

.infoCard-left-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.infoCard-left-element {
    display: flex;
    gap: 8px;
    font-size: 12px;
    border-radius: 10px;
    border: 0.5px solid #c5c5c5;
    background-color: #daf6ff;
    padding: 4px 10px;
}

.infoCard-left-element .infoCard-value {
    font-weight: bold;
}

.infoCard-right-zone {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    gap: 30px;
}

.infoCard-right-cadre {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
}

.infoCard-right-label {
    font-size: 12px;
    color: #666;
}

.infoCard-right-value {
    font-size: 14px;
    color: var(--color-text);
}